*{
    padding: 0;
    margin: 0;
}

#container{
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}

#team{
    width: 30%;
    float: left;
}

#main-team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pos {
    width: 4vw;
    height: 4vw;
    /* padding: 0.5vw; */
    margin: 1vw 1vw;
    border: 1px solid #aaaaaa;
}

#squad{ 
    width: 10%;
    float: right;
}

#playerContainer{
    width: 5vw;
    height: 500px;
    padding: 0.5vw 1vw;
    border: 1px solid #aaaaaa;
    overflow: scroll;
}

.player {
    width: 5vw;
     height: auto;
     margin-bottom: 20%;
}

.headshot{
    width: 100%;
    height: auto;
}

