@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src:
      url('./assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
      url('./assets/fonts/open-sans-v17-latin-regular.woff') format('woff');
  }

*{
    padding: 0;
    margin: 0;
}

#container{
    width: 40%;
    margin: auto;
    font-family: 'Open Sans';
}

h1 {
    margin-bottom: 3%;
    width: 100%;
    text-align: center;
}

h2{
    margin-bottom: 10%;
}

h3 {
    width: 100%;
    padding: 1vh;
}

#team{
    width: 85%;
    float: left;
}

#teamDivOne{
    width:100%;
    background: url('./assets/images/field.png');
    background-repeat: no-repeat;
    background-size: 115% 100%;
    background-position-x: center;
    background-position-y: center;
}

#main-team{
    width: 100%;
    display: grid;
    grid-row-gap: 2%;
    grid-template-columns: auto auto auto;
    
}

#forward{
    margin-top: 10%;
}

#interchange, #followers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.pos {
    width: 4.5vw;
    height: 6vw; 
    box-shadow: 0 5px #2c2b2b;
    margin: 1% auto;
    font-size: 0.9em;
}

#squad{ 
    width: 10%;
    float: right;
}

#playerContainer{
    width: 5vw;
    height: 90vh;
    padding: 0.5vw 1vw;
    border: 1px solid #aaaaaa;
    overflow: scroll;
}

.player {
    width: 100%;
     height: auto;
     margin-bottom: 20%;
}

.headshot{
    width: 100%;
    height: auto;
}

