@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src:
      url('./assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
      url('./assets/fonts/open-sans-v17-latin-regular.woff') format('woff');
  }

*{
    padding: 0;
    margin: 0;
}

// body {
//     background-color: rgb(97, 130, 238);
// }

#container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Open Sans';
    // text-align: center;
}

h1, h3{
    width: 100%;
    text-align: center;
}

h3 {
    padding: 1vh;
}

#team{
    width: 85%;
    
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    // justify-content: space-evenly;
}

#teamDivOne{
    width:50%;
    background: url('./assets/images/field.png');
    background-repeat: no-repeat;
    background-size: 115% 100%;
    background-position-x: center;
    background-position-y: center;
  
  
}

#main-team{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#teamDivTwo{
    width: 50%;
    // margin: auto;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
}

#interchange, #followers {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.pos {
    width: 3vw;
    height: 4.5vw;
    /* padding: 0.5vw; */
    box-shadow: 0 5px #2c2b2b;
    margin: 2vh 2.8vw;
    // border: 1px solid #aaaaaa;
}

#squad{ 
    width: 10%;
}

#playerContainer{
    width: 5vw;
    height: 80vh;
    padding: 0.5vw 1vw;
    border: 1px solid #aaaaaa;
    overflow: scroll;
}

.player {
    width: 100%;
     height: auto;
     margin-bottom: 20%;
}

.headshot{
    width: 100%;
    height: auto;
}

